nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1D2D5B;
    font-family: Lato, sans-serif;
    padding: 0px 5%;
    color: #fff;
}

ul {
    display: flex;
    list-style: none;
}

li {
    display: inline;
    align-self: baseline;
    flex-direction: row;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
}

ul a:hover {
    background-color: #3e2391;

}