.Add-medicine {
    border: 1px black solid;
    border-radius: 10px;
    padding: 50px;
    margin-top: 5%;
    box-shadow: 3px 3px 15px black;
    color: rgb(255, 255, 255);
    background-color: #1D2D5B;
    margin: 100px auto;
    max-width: 500px;
}

.Add-medicine input {
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 3px 0 0 3px;
    width: 80%;
}

.Add-medicine__element {
    display: block;
    margin: 20px;
}

.Add-medicine__element label {
    margin: 10px 30px 10px 0;
}

.Add-medicine__select {
    border: none;
    padding: 4px;
    outline: none;
    border-radius: 0px 3px 3px 0;
    display: inline;
}

.Add-medicine__btn {
    border: none;
    padding: 2px 10px;
    font-size: 17px;
    border-radius: 0px 3px 3px 0;
    display: inline;
    background-color: #fff;
}

.Add-medicine__btn:hover {
    background-color: #aaa;
}